body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Courier', monospace;
}

body {
  background-color: black
}

#backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.logo {
  display: none;
  justify-content: center;
}

.logo a {
  display: flex;
  justify-content: center;
}

#logo {
  position: absolute;
  height: 4.6875rem;
  top: 4.375rem;
}

.container {
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1.0rem;
}

#gallery,
#preview {
  position: relative;
  width: 33.4375rem;
  height: 18.75rem;
  padding: 0.625rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.4);
}

#gallery>div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

article {
  top: 15.625rem;
  width: 75rem;
  margin: 0 auto;
  position: relative;
  display: none;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 16px 8.5px;
  box-shadow: 5px 8px 2px rgba(8, 4, 3, 0.05);
}

h1 {
  text-align: center;
  font-size: 4.6875rem;
  margin: 0 auto;
  color: #D10ED1;
  padding: 1.25rem;
}

h2 {
  font-size: 2.5rem;
  margin: 1.5625rem auto;
  color: #D10ED1;
  padding: 1.25rem;
}

section>p {
  line-height: 1.5;
  margin: 0 auto;
  color: #D10ED1;
  padding-bottom: 0.625rem;
}

h1:hover,
h2:hover {
  color: #ffffff;
}

.yt-vid {
  width: 57.5rem;
  height: 33.75rem;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

section>p:hover {
  color: #ffffff;
}

section {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

section p {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 65%;
}

#player {
  float: none;
  position: relative;
  margin: 15px auto;
}

footer {
  font-family: 'Courier', monospace;
  text-align: center;
  color: #ffffff;
  padding: 0.3125rem;
  padding-left: 0.625rem;
  margin: 0 auto;
  position: relative;
}

footer>p:hover {
  color: #D10ED1;
}

button {
  cursor: pointer;
  display: none;
  border: 0px solid #000000;
  background: -webkit-linear-gradient(top, rgba(171, 171, 171, 0), #fafdff);
  background: -moz-linear-gradient(top, #b3b1ad, #fafdff);
  background: -ms-linear-gradient(top, #b3b1ad, #fafdff);
  background: -o-linear-gradient(top, #b3b1ad, #fafdff);
  padding: 12.5px 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 0px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 0px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 0px 0;
  text-shadow: #000000 0 1px 0;
  color: #000000;
  font-size: 21px;
  font-family: helvetica, serif;
  text-decoration: none;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:hover {
  border: 0px solid #000000;
  text-shadow: #ffffff 0 1px 0;
  background: #d9960f;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(#3dc930));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), #3dc930);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), #3dc930);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7), #3dc930);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7), #3dc930);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, #3dc930 100%);
  color: #ffffff;
}

button:active {
  text-shadow: #000000 0 1px 0;
  border: 0px solid #000000;
  background: -webkit-linear-gradient(top, rgba(171, 171, 171, 0), red);
  background: -moz-linear-gradient(top, #b3b1ad, red);
  background: -ms-linear-gradient(top, #b3b1ad, red);
  background: -o-linear-gradient(top, #b3b1ad, red);
  color: #ffffff;
}

#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #3dc930;
}

#label {
  text-align: center;
  line-height: 30px;
  color: white;
}

@media screen and (max-width: 1024px) {
  article {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  section>p {
    width: 90%;
    padding: 2px;
  }

  section {
    width: 100%;
    padding: 0;
  }

  .yt-vid {
    width: 100%;
    height: 56.25vw;
  }
}

@media screen and (max-width: 430px) {
  #logo {
    height: 2rem;
    top: 4rem;
  }

  article {
    top: 11rem;
  }

  #gallery img {
    width: 100%;
    height: 56.25vw;
  }

  #gallery {
    height: 15rem;
  }
}

@media screen and (max-width: 375px) {
  article {
    top: 8rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #gallery {
    height: 12rem;
  }
}